<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="GameServerIp" value="127.0.0.1"/>
    <add key="WebServerIp" value="127.0.0.1"/>
    <add key="WebServerPort" value="4321"/>
    <add key="RemotingChannelPort" value="8000"/>
  </appSettings>
</configuration>
