<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebService"
                         maxReceivedMessageSize="20000000" 
                         maxBufferSize="20000000"
                         maxBufferPoolSize="20000000"
                         openTimeout="00:00:04" 
                         closeTimeout="00:00:04" 
                         sendTimeout="00:00:04" 
                         receiveTimeout="00:00:04"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.17.7.17:4321/AdministrativeService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebService"
                contract="ServiceReference.IWebService" name="BasicHttpBinding_IWebService" />
        </client>
    </system.serviceModel>
</configuration>
