<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWebService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/AdministrativeService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWebService"
                contract="ServiceReference.IWebService" name="WSHttpBinding_IWebService">
                <identity>
                    <userPrincipalName value="DESKTOP-JH1M2MF\Marcel" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
